.table-header {
	padding: 10px !important;
}

.table-cell {
  padding: 10px !important;
}

.text-trunc {
  width: auto;
  max-width: 300px;
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}